{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "printWidth": 110,
  "useTabs": true,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none"
}
